.menu{
    height: 4rem;
    width: 5rem;
    position: fixed;
    top: 3%;
    left: 1%;
    z-index: 9;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
    }

    &__button{
        position: fixed;
        top: 5%;
        left: 2rem;
        z-index: 9;
        height: 2px;
        width: 3rem;
        background-color: rgba(245, 245, 245, 0.856);
        @include menushadow;
        transition: all .5s linear;
        border-radius: 50%;

        &::before,
        &::after{
            content: '';
            position: fixed;
            height: 2px;
            width: 3rem;
            background-color: rgba(245, 245, 245, 0.856);
        }

        &::before{
            top: 3.5%;
            left: 2rem;
        }

        &::after{
            top: 6.5%;
            left: 2rem;
        }
        &.active{
           background: transparent;

           &::before{
               top: 5%;
               transform: rotate(45deg);
           }

           &::after{
               top: 5%;
               transform: rotate(135deg);
           }
        }
    }

    &__list{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 8;
        background-color: rgb(61, 173, 248);
        height: 100vh;
        width: 100vw;

        &--nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            & li a{
                padding: 2rem;
                font-size: 3rem;
                color: rgba(245, 245, 245, 0.938);
                transition: all .5s linear;

                &:hover{
                    color: rgba(220, 20, 60, 0.89);
                }
            }
        }
    }

}

