@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  box-sizing: border-box;
  padding: 1.2rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(28, 160, 236, 0.671), rgba(45, 193, 238, 0.61)), url("../images/main.jpg");
  background-position: top center;
  height: 95vh;
  text-align: center;
  color: #fff;
  background-size: 100% 100%;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%); }
  .header__title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__title--head {
      font-size: 5rem;
      letter-spacing: .8rem;
      animation: slide 2s linear;
      position: relative; }
    .header__title--sub {
      font-size: 1.4rem;
      animation: slideTwo 2s linear;
      position: relative; }
    .header__title--btn {
      padding: 2rem 5rem 2rem 5rem;
      background-color: rgba(255, 255, 255, 0.938);
      color: rgba(29, 28, 28, 0.877);
      border: transparent;
      font-size: 2rem;
      border-radius: 1rem;
      animation: slideUp 1.5s linear;
      transition: .3s all linear; }
      .header__title--btn:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.856);
        color: #fff; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    opacity: .7;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes slideTwo {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    opacity: .7;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  70% {
    opacity: .7; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.info {
  height: 120vh;
  background-color: rgba(236, 236, 236, 0.925);
  margin-top: -9rem; }
  .info__container {
    position: relative;
    padding: 1rem;
    top: 10rem; }
    .info__container--header {
      font-size: 4rem;
      text-align: center;
      padding: 6rem; }
  .info__content {
    display: flex;
    width: 100%;
    height: 100%; }
    .info__content--info {
      flex: 2;
      font-size: 1.5rem;
      padding: 1rem; }
      .info__content--info--title {
        padding: 2rem 0 2rem 0; }
      .info__content--info--description {
        font-size: 1.5rem; }
      .info__content--info ul li {
        padding: 1rem; }
    .info__content--img {
      flex: 1;
      width: 20rem; }

.fadein {
  position: relative; }
  .fadein--img {
    height: 30rem;
    width: 40rem; }

.fadein p {
  position: absolute;
  left: 0;
  top: 0; }

.menu {
  height: 4rem;
  width: 5rem;
  position: fixed;
  top: 3%;
  left: 1%;
  z-index: 9;
  border-radius: 50%; }
  .menu:hover {
    cursor: pointer; }
  .menu__button {
    position: fixed;
    top: 5%;
    left: 2rem;
    z-index: 9;
    height: 2px;
    width: 3rem;
    background-color: rgba(245, 245, 245, 0.856);
    -webkit-box-shadow: 3px -1px 150px -18px #7412a1;
    -moz-box-shadow: 3px -1px 150px -18px #3112a1;
    box-shadow: 3px -1px 150px -18px #5512a1;
    transition: all .5s linear;
    border-radius: 50%; }
    .menu__button::before, .menu__button::after {
      content: '';
      position: fixed;
      height: 2px;
      width: 3rem;
      background-color: rgba(245, 245, 245, 0.856); }
    .menu__button::before {
      top: 3.5%;
      left: 2rem; }
    .menu__button::after {
      top: 6.5%;
      left: 2rem; }
    .menu__button.active {
      background: transparent; }
      .menu__button.active::before {
        top: 5%;
        transform: rotate(45deg); }
      .menu__button.active::after {
        top: 5%;
        transform: rotate(135deg); }
  .menu__list {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 8;
    background-color: #3dadf8;
    height: 100vh;
    width: 100vw; }
    .menu__list--nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .menu__list--nav li a {
        padding: 2rem;
        font-size: 3rem;
        color: rgba(245, 245, 245, 0.938);
        transition: all .5s linear; }
        .menu__list--nav li a:hover {
          color: rgba(220, 20, 60, 0.89); }

.ministries {
  height: 100vh;
  transform: skewY(-7deg);
  margin-top: -9rem;
  background-image: linear-gradient(to right bottom, rgba(28, 160, 236, 0.671), rgba(45, 193, 238, 0.61)), url("../images/main.jpg");
  background-position: top center;
  height: 95vh;
  text-align: center;
  color: #fff;
  background-size: 100% 100%; }
  .ministries__container {
    position: relative;
    top: 15rem;
    transform: skewY(7deg);
    display: flex;
    justify-content: center; }

.flexed {
  border-radius: 5%;
  margin: 2rem;
  height: 35rem;
  width: 25rem;
  background-color: rgba(235, 235, 235, 0.767);
  transform: translateY(-4px);
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .flexed:hover {
    transform: translateY(0); }
  .flexed:active {
    transform: translateY(0); }
  .flexed__img {
    height: 18rem;
    width: 100%; }
  .flexed__title {
    font-size: 2rem;
    padding: .3rem;
    color: rgba(0, 0, 0, 0.877); }
  .flexed__info {
    color: rgba(0, 0, 0, 0.911);
    padding: 1rem;
    font-size: 1.5rem; }
